div.navbar.navbar-inverse.navbar-fixed-top {
	background-color: rgb(92, 135, 39) /*black*/;
}

.navbar-inverse .navbar-nav > li > a {
	color: rgb(230, 230, 230);
}

.navbar-inverse .navbar-brand {
	color: rgb(230, 230, 230);
        background-image: url('../../Kirti/PGO.png');
        background-size: cover;
        min-height: 50px;
        margin-right: 10px;
}

.navbar-inverse .navbar-nav > .dropdown > a .caret {
	color: rgb(230, 230, 230);
	border-top-color: rgb(230, 230, 230);
	border-bottom-color: rgb(230, 230, 230);
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > 
.active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
	color: white;
	background-color: rgba(0, 0, 0, 0.2);
}

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
	background: rgba(0, 0, 0, 0.2);
}

footer p {
	color: rgba(0, 0, 0, 0.5);
}
