div.navbar.navbar-inverse.navbar-fixed-top {
	background-color: rgb(92, 135, 39) /*black*/;
}

.navbar-inverse .navbar-nav > li > a {
	color: rgb(230, 230, 230);
}

.navbar-inverse .navbar-brand {
	background-image: url('../../Kirti/PGO.png');
        background-size: cover;
        min-height: 50px;
        margin-right: 10px;
}

.navbar-inverse .navbar-nav > .dropdown > a .caret {
	color: rgb(230, 230, 230);
	border-top-color: rgb(230, 230, 230);
	border-bottom-color: rgb(230, 230, 230);
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > 
.active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
	color: white;
	background-color: rgba(0, 0, 0, 0.2);
}

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
	background: rgba(0, 0, 0, 0.2);
}

#main-head {
        text-align: center;
        color: rgb(167, 169, 172);
        width: 90%;
        margin: 0 auto;
	margin-top: 30px;
}

div.col-lg-4 > a {
	color: rgb(167, 169, 172);
}

div.col-lg-4 > a:hover {
	
}

div.col-lg-4 > a.active {
	color: rgb(90, 92, 95);
}

div.col-lg-4 > a.active:hover {
	text-decoration: none;
}

#first {
	margin-left: 190px;
}

div.col-md-5 img {
	height: 199px;
	width: 170px; */
}

footer p {
	color: rgba(0, 0, 0, 0.5);
}

/* Featurettes
------------------------- */

.featurette-divider {
  margin: 80px 0; /* Space out the Bootstrap <hr> more */
}

#top {
  margin-top: 0;
}

#bottom {
  margin-bottom: 0;
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}
